# EASY

1.Guest 1183. Give the booking_date and the number of nights for guest 1183.

In [ ]:
SELECT DATE_FORMAT(booking_date,'%Y-%m-%d') AS  booking_date, nights
FROM booking 
WHERE guest_id = 1183;

2.When do they get here? List the arrival time and the first and last names for all guests due to arrive on 2016-11-05, order the output by time of arrival.

In [ ]:
SELECT booking.arrival_time, guest.first_name, guest.last_name
FROM booking 
JOIN guest 
ON guest_id = guest.id
WHERE DATE(booking.booking_date) = '2016-11-05'
ORDER BY booking.arrival_time;

3.Look up daily rates. Give the daily rate that should be paid for bookings with ids 5152, 5165, 5154 and 5295. Include booking id, room type, number of occupants and the amount.

In [ ]:
SELECT b.booking_id, b.room_type_requested, b.occupants, r.amount
FROM booking AS b
JOIN rate AS r
ON r.room_type = b.room_type_requested and b.occupants = r.occupancy
WHERE b.booking_id in (5152, 5165, 5154, 5295);

4.Who’s in 101? Find who is staying in room 101 on 2016-12-03, include first name, last name and address.

In [ ]:
SELECT g.first_name, g.last_name, g.address
FROM booking AS b
JOIN guest AS g
ON b.guest_id = g.id
WHERE DATE(b.booking_date) = '2016-12-03' and b.room_no = 101;

5.How many bookings, how many nights? For guests 1185 and 1270 show the number of bookings made and the total number of nights. Your output should include the guest id and the total number of bookings and the total number of nights.

In [ ]:
SELECT guest_id, COUNT(nights), SUM(nights)
FROM booking
WHERE guest_id = 1185 OR guest_id = 1270
GROUP BY guest_id;

# Medium

6. Ruth Cadbury. Show the total amount payable by guest Ruth Cadbury for her room bookings. You should JOIN to the rate table using room_type_requested and occupants.

In [ ]:
SELECT SUM(b.nights*r.amount)
FROM booking as b
JOIN guest as g 
ON b.guest_id = g.id
JOIN rate as r
ON r.room_type = b.room_type_requested and b.occupants = r.occupancy
WHERE g.first_name = 'Ruth' AND g.last_name = 'Cadbury';

7.Including Extras. Calculate the total bill for booking 5346 including extras.

In [ ]:
SELECT SUM(e.amount) + r.amount AS Total
FROM booking as b
JOIN extra as e
ON b.booking_id = e.booking_id 
JOIN rate as r
ON r.room_type = b.room_type_requested and b.occupants = r.occupancy
WHERE b.booking_id = 5346;

8.Edinburgh Residents. For every guest who has the word “Edinburgh” in their address show the total number of nights booked. Be sure to include 0 for those guests who have never had a booking. Show last name, first name, address and number of nights. Order by last name then first name.

In [ ]:
SELECT 
    g.last_name, 
    g.first_name, 
    g.address, 
    COALESCE(SUM(b.nights), 0) AS total_nights
FROM booking AS b
RIGHT JOIN guest AS g
ON b.guest_id = g.id 
WHERE g.address LIKE '%Edinburgh%'
GROUP BY g.last_name, g.first_name, g.address;

9.How busy are we? For each day of the week beginning 2016-11-25 show the number of bookings starting that day. Be sure to show all the days of the week in the correct order.

In [ ]:
SELECT DATE_FORMAT(booking_date,'%Y-%m-%d') AS i, count(arrival_time) as arrivals
FROM booking 
WHERE booking_date between '2016-11-25' and DATE_ADD('2016-11-25', INTERVAL 6 DAY)
group by i
order by i;

10.How many guests? Show the number of guests in the hotel on the night of 2016-11-21. Include all occupants who checked in that day but not those who checked out.

In [ ]:
SELECT SUM(occupants)
FROM booking
WHERE booking_date <= '2016-11-21' AND DATE_ADD(booking_date, INTERVAL nights DAY) > '2016-11-21';